name: Review

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  vale:
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Run Vale
        uses: errata-ai/vale-action@v2
        with:
          files: content
          fail_level: error
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
